[Desktop Entry]
Type=Application
Name=Tesseract
Comment=Cube 2 based game engine with upgraded modern renderer
Icon=gg.tesseract.Tesseract
Exec=tesseract
Categories=Game;ActionGame;Shooter;
Keywords=fps;action;multiplayer;play;arena;mapeditor;
